<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>jReads</title>
</head>
<body>
    <section class="menuBar">
        <div class="barItem">
            <a href="/">
                <h1>jReads</h1>
            </a>
            
        </div>
        <div class="barItem">
            <input type="text" placeholder="Search books">
        </div>
        <div class="barItem">
            <button>Login</button>
        </div>

    </section>