<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Books</title>
</head>
<body>
    <section class="menuBar">
        <div class="barItem">
            <h1>jReads</h1>
        </div>
        <div class="barItem">
            <input type="text" placeholder="Search books">
        </div>
        <div class="barItem">
            <button>Login</button>
        </div>

    </section>
    <section class="mainFrame">
        <div class="leftFrame">
            <div class="search">
                <label for="search"></label>
                <input name="search" type="text" placeholder="Find a book">
                <button>Go</button>
                <ul class="searchResults"></ul>
            </div>
            <div class="bookDetails"></div>
        </div>
        <div class="rightFrame">
            <div class="container">
                <h2>My Bookshelf</h2>
                <div class="shelves">

                <% for(let i = 0; i < myLibrary.length; i++){ %>
                    <% if( i % maxBooksPerShelf == 0){ %>
                        <div class="shelf">
                    <%} %>
                            <a href="/myBook/<%=myLibrary[i]._id%>">
                                <img src= <%=myLibrary[i].imageLinks.thumbnail%> alt="">
                            </a>
                    <% if( i % maxBooksPerShelf == maxBooksPerShelf-1 || i == myLibrary.length - 1){ %>
                        </div>
                    <%} %>

                <% } %>       
                </div>
            </div>
        </div>
    </section>
    <script src="/js/bookapi.js"></script>
    <script src="/js/bookSearch.js"></script>
</body>
</html>