<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Books</title>
</head>
<body>
    <h1>BOOK APP</h1>

    <h2>My Bookshelf</h2>
    <div class="container">
        <div class="shelves">
            <div class="shelf">
                <img src="/images/hobbit.jpg" alt="">
                <img src="/images/bible.jpg" alt="">
                <img src="/images/darkTower.jpg" alt="">
                <img src="/images/jurassicPark.jpg" alt="">
                <img src="/images/lostWorld.jpg" alt="">

            </div>
            <div class="shelf">
                <img src="/images/hobbit.jpg" alt="">
                <img src="/images/bible.jpg" alt="">
                <img src="/images/darkTower.jpg" alt="">
                <img src="/images/jurassicPark.jpg" alt="">
                <img src="/images/lostWorld.jpg" alt="">
            </div>
            <div class="shelf">
                <img src="/images/hobbit.jpg" alt="">
                <img src="/images/bible.jpg" alt="">
                <img src="/images/darkTower.jpg" alt="">
                <img src="/images/jurassicPark.jpg" alt="">
                <img src="/images/lostWorld.jpg" alt="">
            </div>

        </div>
    </div>
    
</body>
</html>