<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Books</title>
</head>
<body>
    <section>
        <h1>BOOK APP</h1>
    </section>
    <section class="mainFrame">
        <div class="leftFrame">
            <div class="search">
                <label for="search"></label>
                <input name="search" type="text" placeholder="Find a book">
                <button>Go</button>
                <ul class="searchResults"></ul>
            </div>
            <div class="bookDetails"></div>
        </div>
        <div class="rightFrame">
            <div class="container">
                <h2>My Bookshelf</h2>
                <div class="shelves">
                    <div class="shelf">
                        <% for(let i = 0; i < myLibrary.length; i++){ %>
                            <a href="/myBook/<%=myLibrary[i].id%>">
                                <img src= <%=myLibrary[i].imageLinks.thumbnail%> alt="">
                            </a>

                        <% } %>
        
                    </div>
                    <div class="shelf">
                        <img src="/images/hobbit.jpg" alt="">
                        <img src="/images/bible.jpg" alt="">
                        <img src="/images/darkTower.jpg" alt="">
                        <img src="/images/jurassicPark.jpg" alt="">
                        <img src="/images/lostWorld.jpg" alt="">
                    </div>
                    <div class="shelf">
                        <img src="/images/hobbit.jpg" alt="">
                        <img src="/images/bible.jpg" alt="">
                        <img src="/images/darkTower.jpg" alt="">
                        <img src="/images/jurassicPark.jpg" alt="">
                        <img src="/images/lostWorld.jpg" alt="">
                    </div>
        
                </div>
            </div>
        </div>
    </section>
    <script src="/js/bookapi.js"></script>
    <script src="/js/bookSearch.js"></script>
</body>
</html>