<%- include("./partials/header") %>
<div class="wrapper">
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-8 is-offest-4">
                <div class="container shelves">
                    <h1 class="has-text-light">Login</h1>
                
                    <form action="/login" method="POST">
                        <div class="field">
                            <label for="username" class="label has-text-light">Username</label>
                            <div class="control">
                                <input type="text" placeholder="username" name="username">
                            </div>
                        </div>
                        <div class="field">
                            <label for="password" class="label has-text-light">Password</label>
                            <div class="control">
                                <input type="password" placeholder="password" name="password">
                            </div>
                        </div>
                        <div class="control">
                            <button class="button is-success">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>



<%- include("./partials/footer") %>