.menuBar {
    display:flex;
}

.menuBar button {
    align-items: center;
    height: 20px;
    margin: auto;
    margin-left: 20px;
}
.container {
    display: flex;
    margin: auto;
    width: 80%;
}

.leftFrame {
    flex: 1;
    max-width: 60%;
}

.rightFrame {
    flex: 2;
    min-width: 400px;
    max-width: 500px;
}

.btnAdd {
    width: 75%;
    max-width: 150px;
}



img {
    width: 75%;
    max-width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.description {
    text-justify: auto;
}

