.container {
    margin: 5px;

}

.mainFrame {
    display: flex;
}

@media (max-width: 1008px){
    .mainFrame{
        flex-wrap: wrap;
    }
}

.leftFrame {
    flex: 1;
    min-width: 200px;
    
}

.rightFrame {
    flex: 3;
}



.shelves {
    margin: auto;
    background-color: rgb(75, 65, 58);
    
}

.shelf {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border: solid white 1px;
    padding: 10px;

}

.shelf figure {
    margin: 10px;
}

.shelf img {
    width: 100px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.shelf figcaption {
    color: white;
    text-decoration: none;
    
}

.hideMe {
    visibility: collapse;
}

.googleBookLink {
    background-image: url("../images/gbs_preview_button1.gif");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 90px;
}

