.parallax {
    background-image: url("../images/whiteLibraryCeiling.jpg");
    background-position: center;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.container {
    margin: 5px;

}

.mainFrame {
    display: flex;
}

@media (max-width: 1008px){
    .mainFrame{
        flex-wrap: wrap;
    }
}

.leftFrame {
    flex: 1;
    min-width: 200px;
    
}

.rightFrame {
    flex: 3;
}



.shelves {
    padding: 20px;
    background-color: rgba(32, 32, 32, 0.815);
    border-radius: 20px;
    
    
}

.shelf {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border: solid white 1px;
    padding: 10px;

}

.shelf figure {
    margin: 10px;
}

.shelf img {
    width: 100px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.shelf figcaption {
    color: white;
    text-decoration: none;
    
}

.bookCard {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.986);
    padding: 1rem;
    border-radius: 3px;
}

.bookCard a figure figcaption{
    text-align: center;
    
}

.bookCard a figure img{
    text-align: center;
    margin: auto;
    max-width: 175px;
    border-radius: 1px;
    
}

.hideMe {
    visibility: collapse;
}

.googleBookLink {
    background-image: url("../images/gbs_preview_button1.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 90px;
}

.wrapper {
    /* used to push footer to bottom of screen */
    min-height: calc(100vh - 112px);
}

footer {
    background-color: rgba(255, 255, 255, 0.85);
    position: static;
    bottom: 0;
    width: 100%;
    height: 60px;
}

