.search {
    padding-left: 20px;
    flex-direction: column;
    position: relative;
}

.search input {
    width: 300px;
    margin-left: 4px;
    background-image: url("../images/google_watermark.gif");
    background-position: right;
    background-repeat: no-repeat;
}

@media ( width <= 500px) {
    .search input {
        width: 160px;
    }

    .search {
        padding-left: 0;
    }
}

.searchResults {
    position: absolute;  /*parent needs to be position relative to overlay*/
    width: 400px;
    margin-top: -11px;  /*align to lower part of search box */
}

.searchResults .dropdown-item {
    padding: 3px;
}

.searchResults .dropdown-divider {
    margin-top: 2px;
    margin-bottom: 2px;
}

.searchResults .content {
    margin-left: 5px;
}

.searchImage {
    min-height: 60px;
    min-width: 40px;
    margin: 5px;
}

.searchTitle {
    font-weight: 600;
    font-size: 1em;
    color: black;

}

.searchAuthors {
    font-weight: 400;
    font-size: .8em;
    margin: 5px;
    color: black;

}